
.list {
  border: 1px solid #cececece;
  margin: 16px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #f8f6f6;
}
.list .title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.listBorder {
  margin: 8px;
  overflow-y: scroll;
  height: 300px;
  width: 200px;
  border: 1px solid #d9dddd;
}